.App{
	height: inherit;
	max-width: 500px;
	color: green;
	flex-grow: 1;
	overflow-x: hidden;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling:touch;
}

.container{
	display: flex;
	flex-direction: column;
}

/*.styleBackground{
  background-image: url("../media/bg2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
	overflow-y: scroll;
}*/
