
.activeTab {
  color: orange;
}

.navItem {
  margin: 10% 1% -7% 1%;
  text-align: center;
  padding: 1% 1% 1% 1%;
  font-size: 100%;
  font-weight: bold;
  border-bottom: solid 3px #000000;
  text-decoration-line:none;
}
