.App-header {
  background-color: #ff9900;
  height: 40px;
  padding: 20px;
}

.menuIcon {
  position: absolute;
  right: 40px;
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
