.App-footer {
  background-color: #ff9900;
  height: 6%;
  padding: 1%;
  padding-top: 4%;
  position: relative;
  bottom: 0px;
  padding-left: 3%;
}


.socialMediaIcon {
  height: 70%;
  margin: 0% 1% 0% 0%;
}

.contents {
  position: absolute;
  right: 2%;
  bottom: 35%;
  font-size: 85%;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}