.App-header {
  background-color: #ff9900;
  height: 6%;
  padding: 1%;
  padding-top: 4%;
  position: sticky;
  top: 0;
}

#menuIcon {
  position: absolute;
  right: 4%;
  height: 45%;
  padding-bottom: 3%;
}

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
