
ul{
  list-style-type: none;
}

.styleBackground li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 1%;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: none;
  opacity: 0;
  z-index:-1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation: imageAnimation 36s linear infinite 0s;
  -moz-animation: imageAnimation 36s linear infinite 0s;
  animation: imageAnimation 36s linear infinite 0s;
}

.styleBackground li:nth-child(1) span {
  background-image: url("../media/bg1.jpg");
}

.styleBackground li:nth-child(2) span {
  background-image: url("../media/bg2.jpeg");
  -webkit-animation-delay: 9s;
  -moz-animation-delay: 9s;
  animation-delay: 9s;
}

.styleBackground li:nth-child(3) span {
  background-image: url('../media/chickenCurry.jpg');
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  animation-delay: 18s;
}

.styleBackground li:nth-child(4) span {
  background-image: url('../media/momo.jpg');
  -webkit-animation-delay: 27s;
  -moz-animation-delay: 27s;
  animation-delay: 27s;
}

@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
  }
  5% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
  }
  25% {
    opacity: 1;
  }
  37.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes imageAnimation {
  0% {
    opacity: 0;
    -moz-animation-timing-function: ease-in;
  }
  5% {
    opacity: 1;
    -moz-animation-timing-function: ease-out;
  }
  25% {
    opacity: 1;
  }
  37.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  5% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  25% {
    opacity: 1;
  }
  37.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.no-cssanimations .slideshow li span {
  opacity: 1;
}
