
@media (min-width: 650px) {
  #root {
    display: none;
  }
}

@media (max-width: 649px) {
  #vue {
    display: none;
  }
}

@media (min-width: 1000px) {
  body {
    width: 1000px;
    margin: 0 auto;
  }
}