.App {
	height: inherit;
	width: inherit;
	color: green;
	overflow-x: hidden;
	-webkit-overflow-scrolling:touch;
}

.container {
	display: flex;
	flex-direction: column;
}

/*.styleBackground{
  background-image: url("../media/bg2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
	overflow-y: scroll;
}*/
