.App-header {
  background-color: #ff9900;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  width: 100%;
}

#menuIcon {
  max-height: 35px;
  max-width: 35px;
  margin: 1% 1% 1% 0%;
}

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
