.App{
	height: inherit;
	width: inherit;
	color: green;
	overflow-x: hidden;
}

.styleBackground{
  background-image: url("../media/bg2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
	overflow-y: scroll;
}
