.App-footer {
  background-color: #ff9900;
  height: 6%;
  padding: 1%;
  padding-top: 4%;
  position: relative;
  bottom: 0px;
}


#fbIcon {
  position: absolute;
  left: 4%;
  height: 45%;
  padding-bottom: 3%;
}
