.menuvisible {
display:block;
position: absolute;
z-index: 1;
width: 45%;
height:100%;
overflow-y: visible;
top:0;
right:0;
background : rgba(0, 0, 0, 0.85);
margin: inherit;
padding: 5%, 5%, 5%, 5%;
}

.menuinvisible {
  display:block;
  position: absolute;
  z-index: -1;
  width: 45%;
  height:100%;
  overflow-y: visible;
  top:0;
  right:0;
  background : rgba(0, 0, 0, 0.85);
  margin: inherit;
  padding: 5%, 5%, 5%, 5%;
}
